USE [Hasty]
GO
/****** Object:  StoredProcedure [dbo].[Appointment_Update]    Script Date: 4/13/2023 5:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Michael Ryan Thompson>
-- Create date: <02-24-2023>
-- Description:	<Appointment Update>
-- Code Reviewer: Christopher Doupis

-- MODIFIED BY: 
-- MODIFIED DATE:
-- Code Reviewer:
-- Note:
-- =============================================

CREATE PROC [dbo].[Appointment_Update]
	 @ListingId INT
	,@Phone NVARCHAR(50)
	,@StartDateTime DATETIME2(7)
	,@Time TIME(7)
	,@ModifiedBy INT
	,@AppointmentId INT 

/*
----TEST CODE----
DECLARE @AppointmentId int = 3;

DECLARE  @ListingId INT = 53
		,@Phone NVARCHAR(50) = 'DELETE ME UPDATE'
		,@StartDateTime DATETIME2(7) = '2023-04-10T10:00:00'
		,@Time TIME(7) = '12:00:00'
		,@ModifiedBy INT = 5

SELECT *
FROM dbo.Appointments
Where Id = @AppointmentId

EXECUTE [dbo].[Appointment_Update]
		 @ListingId
		,@Phone
		,@StartDateTime
		,@Time
		,@ModifiedBy
		,@AppointmentId 


SELECT *
FROM dbo.Appointments
Where Id = @AppointmentId


*/

AS

BEGIN

	DECLARE @DateNow DATETIME2(7) = GETUTCDATE()

	UPDATE [dbo].[Appointments]
		SET [ListingId] = @ListingId
			,[Phone]= @Phone
			,[StartDateTime] = @StartDateTime
			,[Time] = @Time
			,[ModifiedBy] = @ModifiedBy
			,[DateModified] = @DateNow
	WHERE Id = @AppointmentId

END
GO
